#about {
    height: fit-content !important;
    background-color: #fdfcf3;
    padding: 3rem;
}

.about-header {
    font-family: 'Original Surfer', cursive;
    display: flex;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    justify-content: center;
}

.about-section {
    display: flex;
    padding: 1.7rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutText {
    flex: 1 1 25rem;
    font-family: 'Redressed', cursive;
    font-size: calc(0.75rem + 1vw);
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2rem 0;
    line-height: calc(1.2rem + 2vw);
}

.aboutImage {
    width: 45%;
    flex: 1 1 25rem;
}

@media screen and (max-width: 991px) {
    .about {
        padding-bottom: 4rem;
        height: fit-content;
    }
    .aboutImage {
        display: none;
    }
    .aboutText {
        text-align: center;
        padding: 0;
    }
    .about-section {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .aboutImage {
        display: none;
    }
    .about {
        padding-bottom: 2rem;
    }
}